{% extends 'base.html' %}

{% block title %}
    机构列表页 | kylin慕课小站
{% endblock %}

{% load staticfiles %}

{# 页面中间部分内容 #}
{% block content %}
    <section>
        <div class="wp butler_list_box list">
            <div class='left'>
                <div class="listoptions">
                    <ul>
                        <li>
                            <h2>机构类别</h2>
                            <div class="cont">
                                {# 类似城市筛选的高亮显示 #}
                                <a href="?city={{ city_id }}"><span class="{% ifequal category '' %}active2{% endifequal %}">全部</span></a>
                                {# 为了完善前台的显示点击功能,所添加的参数city={{ city_id }},上下条件的综合设置 #}
                                <a href="?ct=pxjg&city={{ city_id }}"><span class="{% ifequal category 'pxjg' %}active2{% endifequal %}">培训机构</span></a>

                                <a href="?ct=gx&city={{ city_id }}"><span class="{% ifequal category 'gx' %}active2{% endifequal %}">高校</span></a>

                                <a href="?ct=gr&city={{ city_id }}"><span class="{% ifequal category 'gr' %}active2{% endifequal %}">个人</span></a>

                            </div>
                        </li>
                        <li>
                            <h2>所在地区</h2>
                            <div class="more">更多</div>

                            <div class="cont">
                                {# 做选中状态的设置：当前端传过来的city_id是空时,则显示‘全部’被高亮显示,其它的城市则相反 #}
                                <a href="?ct={{ category }}"><span class="{% ifequal city_id '' %}active2{% endifequal %}">全部</span></a>
                                {% for city in all_city %}
                                    {# 筛选城市时做选中状态,city.id是int类型,通过固有的方式进行转换; #}
                                    <a href="?city={{ city.id }}&ct={{ category }}"><span class="{% ifequal city_id city.id|stringformat:'i' %}active2{% endifequal %}">{{ city.name }}</span></a>
                                {% endfor %}
                            </div>

                        </li>
                    </ul>
                </div>

                <div class="all">共<span class="key">{{ org_nums }}</span>家</div>
                <div class="butler_list company list">

                    <div class="layout">
                        <div class="head">
                            <ul class="tab_header">
                                <li class="{% if sort == '' %}active{% endif %}"><a href="?ct={{ category }}&city={{ city_id }}">全部</a></li>
                                {# 以sort作为根据来排名 #}
                                {# 前面是做筛选字段的高亮显示,后面仍然是要做三个条件的关联：sort/category/city #}
                                <li class="{% if sort == 'students' %}active{% endif %}"><a href="?sort=students&ct={{ category }}&city={{ city_id }}">学习人数 &#8595;</a></li>
                                <li class="{% if sort == 'courses' %}active{% endif %}"><a href="?sort=courses&ct={{ category }}&city={{ city_id }}">课程数 &#8595;</a></li>
                            </ul>
                        </div>
                        {#  此处是根据分页器安装包中的要求进行的设置,所以在做for循环的时候,需加上object_list  #}
                        {% for course_org in all_orgs.object_list %}
                            <dl class="des difdes">
                                <dt>
                                    <a href="{% url 'org:org_home' course_org.id %}">
                                        {# {{ course_org.img }}这只是一个相对路径,是取不出图片的,必须在前面加上{{ MEDIA_URL }}得出一个完整的路径 #}
                                        <img width="200" height="120" class="scrollLoading"
                                             data-url="{{ MEDIA_URL }}{{ course_org.image }}"/>
                                    </a>
                                </dt>

                                <dd>
                                    <div class="clearfix">
                                        <a href="org-detail-homepage.html">
                                            <h1>慕课网</h1>
                                            <div class="pic fl">

                                                <img src="/static/images/authentication.png"/>

                                                <img src="/static/images/gold.png"/>

                                            </div>
                                        </a>
                                    </div>
                                    <ul class="cont">
                                        <li class="first"><p class="pic9">课程数：<span>1</span></p>
                                            <p class="c7">学习人数：<span>1000</span></p></li>
                                        <li class="c8" style="padding-left:18px;">北京市海淀区中关村北大街</li>
                                        <li class="pic10" style="padding-left:18px;">经典课程：

                                            <a href="/diary/19/">c语言基础入门</a>

                                            <a href="/diary/16/">数据库基础</a>

                                        </li>
                                    </ul>
                                </dd>
                                <div class="buy start_groupbuy jsShowPerfect2" data-id="22"><br/>联系<br/>服务</div>
                            </dl>
                        {% endfor %}
                    </div>

                    {# 页面底部的分页区域 #}
                    <div class="pageturn">
                        <ul class="pagelist">
                        {# 对分页器进行自定义设置显示 #}
                        {# 此处是对是否有前页所做的判断 #}
                        {% if all_orgs.has_previous %}
                            <li class="long"><a href="?{{ all_orgs.previous_page_number.querystring }}" >上一页</a></li>
                        {% endif %}

                        {% for page in all_orgs.pages %}
                            {% if page %}
                                {# ifequal是django中用于判断其后面两个值是否相等 #}
                                {% ifequal page all_orgs.number %}
                                    {#  相等的情况下则显示当前页 #}
                                    <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                {% endifequal %}
                            {% else %}
                                    <li class="none"><a href="">...</a></li>
                            {% endif %}
                        {% endfor %}

                        {# 判断是否有后一页 #}
                        {% if all_orgs.has_next %}
                            <li class="long"><a href="?{{ all_orgs.next_page_number.querystring }}">下一页</a></li>
                        {% endif %}

                        </ul>
                    </div>

                </div>
            </div>
            <div class="right companyright">
                <div class="head">我要学习</div>
                <form class="rightform" id="jsStayForm">
                    <div>
                        <img src="/static/images/rightform1.png"/>
                        <input type="text" name="name" id="companyName" placeholder="名字" maxlength="25"/>
                    </div>
                    <div>
                        <img src="/static/images/rightform2.png"/>
                        <input type="text" name="mobile" id="companyMobile" placeholder="联系电话"/>
                    </div>
                    <div>
                        <img src="/static/images/rightform3.png"/>
                        <input type="text" name="course_name" id="companyAddress" placeholder="课程名" maxlength="50"/>
                    </div>
                    <p class="error company-tips" id="jsCompanyTips"></p>
                    <input class="btn" type="text" id="jsStayBtn" value="立即咨询 >"/>
                    {% csrf_token %}
                </form>
            </div>

            <div class="right companyrank layout">
                <div class="head">授课机构排名</div>

                {% for current_org in hot_orgs %}
                    <dl class="des">
                    {# 其中forloop.counter是django中用来表示循环次数的计数方式; #}
                    <dt class="num fl">{{ forloop.counter }}</dt>
                    <dd>
                        <a href="/company/2/"><h1>{{ current_org.name }}</h1></a>
                        <p>{{ current_org.address }}</p>
                    </dd>
                </dl>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}

{% block custom_js %}
    <script>
    $(function(){
        {# 监听button按钮,点击提交之后进行数据传输及检测 #}
        $('#jsStayBtn').on('click', function(){
            $.ajax({
                cache: false,
                {# post的数据提交方式 #}
                type: "POST",
                {# 数据传输的路径向add_ask发送post请求,ajax也是支持类似django的URl设置 #}
                url:"{% url 'org:add_ask' %}",
                {# 对form表单中的数据进行serialize处理,hidden-input会放入html中 #}
                data:$('#jsStayForm').serialize(),
                {# 后台访问成功:异步请求数据 #}
                async: true,
                success: function(data) {
{#                    console.log(data)#}
{#                    alert(data)#}
                    if(data.status == 'success'){
                        $('#jsStayForm')[0].reset();
{#                        $('#jsCompanyTips').html("");#}
                        alert("提交成功")
                    }else if(data.status == 'fail'){
                        {# 将后台所设置的msg返回显示至前端页面 #}
                        $('#jsCompanyTips').html(data.msg)
                    }
                },
            });
        });
    })
    </script>
{% endblock %}


